.btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.auth {
  color: #ffffff;
  border: 2px solid #ccc;
  padding: 0.8rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 999px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ccc;
    color: #000;
  }
}
