.container {
  /* background-color: #f3f4f7; */
  background-color: var(--clr-dark-2);
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: #fefeff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.logoContainer {
  & img {
    max-width: 45rem;
    aspect-ratio: 1/1;
    margin: auto;
  }
}
