.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;

  @media (width > 500px) {
    gap: 1rem;
  }

  & svg {
    transition: all 0.3s ease;

    &:hover {
      fill: var(--clr-primary);
      scale: 1.2;
    }
  }
}
