.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 3rem;
  border-radius: 1.6rem;
  box-shadow: var(--box-shadow-card);

  &:hover {
    background-color: var(--clr-dark-2);

    .icon,
    .title {
      color: var(--clr-primary);
    }
  }
}

.icon {
  align-self: center;

  & svg {
    min-width: 8rem;
    height: 8rem;
  }
}

.title {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.5s;
}
