.container {
  background: linear-gradient(90deg, #212121, var(--clr-dark));
  border-radius: 1rem;
  padding: 1rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
